# Locally installed binaries
/composer
/phpdoc
/circleci
/docker-compose
/docker/docker-compose
/sami
/tmp
/tests/cache
*.phar

# Files generated locally
/build/
/docs/build/
/docs/cache/
/docs/_build/
/docs/_cache/

# composer stuff
/composer.lock
/vendor

# npm stuff
/node_modules
/package-lock.json
/*/node_modules/
/*/package-lock.json

# phpunit (we only commit phpunit.xml.dist)
phpunit.xml

# phpunit temporary files
.phpunit.result.cache


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
*.bkp
*.bak
*~
.~lock.*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Lumen generated

# Others
/.idea
/.vagrant
/homestead/Homestead.json
/homestead/Homestead.yaml
yarn-error.log

# Config
/.env
/docker/.env
