# Substitution variables for docker-compose
# NOTE: some of these settings are effective only at the build stage
#       (dockef-compose build). Especially CRUFT_UIG and CRUFT_GIT are
#       important.
COMPOSE_PROJECT_NAME=@PROJECT@
COMPOSE_BINARY=@BINARY@
CRUFT_UID=@UID@
CRUFT_GID=@GID@
CRUFT_USER=@USER@
CRUFT_GROUP=@GROUP@
CRUFT_HOME=@HOME@
CRUFT_CODE=@CODE@
CRUFT_PHP_TAG=@PHP_TAG@
CRUFT_APACHE_TAG=@APACHE_TAG@
CRUFT_OPENLDAP_TAG=@OPENLDAP_TAG@
CRUFT_MARIADB_TAG=@MARIADB_TAG@
CRUFT_CODECLIMATE_TAG=@CODECLIMATE_TAG@
CRUFT_SPHINX_TAG=@SPHINX_TAG@
CRUFT_SAMI_TAG=@SAMI_TAG@
CRUFT_HTTP_PORT=@HTTP_PORT@
CRUFT_SAMI_PORT=@SAMI_PORT@
CRUFT_SPHINX_PORT=@SPHINX_PORT@
CRUFT_TOP_SRCDIR=@TOP_SRCDIR@
