memory: 2048
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
networks:
    - type: "private_network"
      ip: 192.168.10.10
keys:
    - ~/.ssh/id_rsa
folders:
    - map: ~/projects/cruftman
      to: /home/vagrant/code
sites:
    - map: cruftman.local
      to: /home/vagrant/code/public
variables:
    - key: CRUFT_DOTENV_FILE
      value: .env.homestead
    - key: BEHAT_PARAMS
      value: '{"extensions":{"Behat\\MinkExtension":{"base_url":"http://localhost"}}}'
name: cruftman
hostname: cruftman.local

# vim: set syntax=yaml ts=4 sw=4:
